{% extends './auth/auth.html' %}

{% block header %}
    <div class="container-fluid">
        <h1 class="ps-2 mb-5 display-3 project-title text-center">C.D.M.P</h1>
    </div>
{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/auth.css') }}">
{% endblock %}{% block title %}Register{% endblock %}

{% block content %}
<div class="login-container container-fluid w-25 p-3">
    <form action="/register" method="POST">
        <legend class="text-center">Create an Account</legend> 
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" id="username" class="form-control" required>
            {% if error %}
            <span class="text-danger">{{ error }}</span>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-purp">Create Account</button>
        </div>
    </form>
    <p class="mb-0">
        Have an Account?
        <a href="{{ url_for('authentication.login') }}">Login</a>
    </p>
</div>
{% endblock %}
