.login-container {
    background-color: var(--cdmp-color-dashboard-panel);
    border-radius: 5px;
}
.btn-purp {
    background-color: var(--cdmp-color-main);
    border-color: var(--cdmp-color-main);
    color: var(--cdmp-color-base-background);
    transition: font-size 0.3s ease; 
    font-size: 100%;
}
.btn-purp:hover,
.btn-purp:active,
.btn-purp:focus {
    background-color: var(--cdmp-color-main-hover);
    border-color: var(--cdmp-color-main-hover);
    color: var(--cdmp-color-base-background);
    font-size: 110%;
}
.checkbox-purp .form-check-input:checked {
    background-color: var(--cdmp-color-main);
    border-color: var(--cdmp-color-main);
}
.checkbox-purp .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem color(from var(--cdmp-color-main) srgb r g b / 0.35);
  border-color: var(--cdmp-color-main);
}