{% extends "base/dashboard.html" %}

{% block title %}
    CDMP | {{ active_project.title }} - Settings
{% endblock %}

{% block dashboard_page_name %}
    <h1 class="ps-2 mb-4 display-5 project-title">Settings</h1>
{% endblock %}

{% block main_content %}
<div class="container-fluid dashboard-container m-0 p-5">
    <h4 class="mb-2">{{ active_project.title }}</h4>
    <p class="text-muted mb-4">Project settings live here.</p>

    <a class="btn btn-outline-secondary"
       href="{{ url_for('project.edit', project_id=active_project_id) }}">
        Edit project fields
    </a>

    <a class="btn btn-outline-secondary ms-2"
       href="{{ url_for('project.file_upload', project_id=active_project_id) }}">
        Upload files
    </a>

    <br>
    {% if is_owner %}
    <a class="btn btn-outline-danger mt-5" data-bs-toggle="modal" data-bs-target="#deleteWarning">
        Delete Project
    </a>

    <div class="modal fade" id="deleteWarning" tabindex="-1" aria-labelledby="Warning!" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">WARNING!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Deleting a project will also delete <strong>all</strong> of its related data. 
                        <strong>Are you sure about this?</strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-outline-danger"
                        href="{{ url_for('project.delete', project_id=active_project_id) }}">Yes im sure, Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

