{% extends "base/dashboard.html" %}

{% block title %}
    Column Selection
{% endblock %}

{% block dashboard_page_name %}
    <h1 class="ps-2 mb-5 display-5 project-title">Import Spreadsheet</h1>
{% endblock %}

{% block main_content %}
<div class="container-fluid dashboard-container m-0 p-5">
    <h3 class="mb-0">Select the column content for this spreadsheet</h3>

    <br>

    <p><b>Required columns are:</b> {{ required_columns | join(', ')}}</p>
    <p><b>Optional columns are:</b> {{ optional_columns | join(', ')}}</p>
    
    <h4>Spreadsheet preview</h4>
    <p>
        Below is a preview of the spreadsheet you've uploaded, with the current column names.
        Use the first row to select what the content of the column actually is.
    </p>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

    <form method="POST" action="{{ url_for('data.column_mapper_commit', project_id=active_project_id, table_type=table_type) }}">
        <input type="hidden" name="temp_path" value="{{ temp_path }}">
    <table class="table table-bordered preview-table">
        <thead>
            <tr>
                {% for column_name in preview_data.keys() %}
                    <th>
                        <select name="original_col_name={{ column_name }}" class="form-select form-select-sm">
                            <option value="">Click to Select Column Mapping</option>
                            <optgroup label="Required">
                                {% for req_col in required_columns %}
                                    <option value="{{ req_col }}" {% if req_col|lower == column_name|lower %}selected{% endif %}>
                                        {{ req_col }}
                                    </option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Optional">
                                {% for opt_col in optional_columns %}
                                    <option value="{{ opt_col }}" {% if opt_col|lower == column_name|lower %}selected{% endif %}>
                                        {{ opt_col }}
                                    </option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </th>
                {% endfor %}
            </tr>
            <tr>
                {% for column_name in preview_data.keys() %}
                    <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range((preview_data.values()|first)|length) %}
                <tr>
                    {% for column_name, values in preview_data.items() %}
                        <td>{{ values[i] if i < values|length else '' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                {% for i in range(preview_data.keys() | length ) %}
                    <td>(Continued...)</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    
    <button type="submit" class="btn btn-primary form-submit-button">
        Confirm Column Selection
    </button>

  </form>
</div>
{% endblock %}
