<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reusable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table-col-selector.css') }}">
</head>
<body>
    <nav class="sidebar">
        <div class="d-flex justify-content-center align-items-center">
            <!-- <a href="{{url_for('dashboard.get_dashboard_main')}}"> -->
                <img class="sidebar-pandata-logo" src="{{ url_for('static', filename='assets/logo/pandata-logo.png') }}"> </div>
            <!-- </a> -->
        </div>
        <div class="ps-3 pe-3 mb-4">
            <h5 class="text-white mb-0 fs-2">
                Pandata
            </h5>
            <p class="text-muted">A consulting data management system</p>
        </div>
        
        {% if projects is mapping %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <!-- <a class="nav-link fs-5" href="{{url_for('dashboard.get_dashboard_main')}}">
                        Dashboard
                    </a> -->

                    <!-- Collapsable project selection -->
                    <a class="nav-link fs-5 ps-2" data-bs-toggle="collapse" data-bs-target="#project-list" aria-expanded="true">
                        <i class="bi bi-folder"></i> Projects
                    </a>

                    <ul class="list-unstyled collapse show" id="project-list">
                        <li>
                            <a class="nav-link nav-project-link ps-3 pointer-cursor-hover project-link-item" href="{{url_for('projects.create_project')}}">
                                <i class="bi bi-plus-lg" style="color: rgb(82, 223, 94)"></i>
                                New Project
                            </a>
                        </li>
                        {% for id, project_data in projects.items() %}
                            <li>
                                <a class="nav-link nav-project-link ps-3 pointer-cursor-hover project-link-item" href="{{url_for('dashboard.get_dashboard_project_home', project_id=id)}}">
                                    {{project_data['title']}}
                                </a> 
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% block go_to_section %}{% endblock %}
            </ul>
            {% else %}
            <a class="nav-link fs-5" href="{{url_for('dashboard.get_dashboard_main')}}">
                <i class="bi bi-arrow-return-left"></i> Back
            </a>

            <a class="nav-link nav-project-link ps-5 fs-6 pointer-cursor-hover"
                href="{{url_for('dashboard.get_dashboard_project_home', project_id=active_project_id)}}">
                <i class="bi bi-house"></i> Home
            </a>

            <a class="nav-link nav-project-link ps-5 fs-6 pointer-cursor-hover"
                href="{{ url_for('projects.project_files_list', project_id=active_project_id) }}">
                <i class="bi bi-file-earmark-text"></i> Files
            </a>

            <a class="nav-link nav-project-link ps-5 fs-6 pointer-cursor-hover"
                href="{{url_for('dashboard.get_dashboard_project_visualizations', project_id=active_project_id)}}">
                <i class="bi bi-bar-chart-line"></i> Visualizations
            </a>

            <a class="nav-link nav-project-link ps-5 fs-6 pointer-cursor-hover"
                href="{{url_for('dashboard.get_dashboard_project_timeline', project_id=active_project_id)}}">
                <i class="bi bi-hourglass"></i> Timeline
            </a>

            <a class="nav-link nav-project-link ps-5 fs-6 pointer-cursor-hover"
                href="{{url_for('dashboard.get_dashboard_project_people', project_id=active_project_id)}}">
                <i class="bi bi-person"></i> People
            </a>

            <a class="nav-link nav-project-link ps-5 fs-6 pointer-cursor-hover"
                href="{{ url_for('projects.project_settings', project_id=active_project_id) }}">
                <i class="bi bi-gear"></i> Settings
            </a>

            {% endif %} 
    </nav>
    
    <div class="main-content">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <!-- This commented out html is some boilerplate bootstrap navbar stuff, it could be useful.
            it also shows how to use the boostrap dropdowns (which look very cool).   -->
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-person-circle"></i> Profile
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="#">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>  
            <div class="container-fluid">
                <ul class="navbar-nav flex-row gap-2 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('authentication.logout') }}">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content-wrapper">
            {% block dashboard_page_name %}{% endblock %}
            {% block dashboard_description %}{% endblock %}
            
            {% block main_content %}{% endblock %}  
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
