{% extends './dashboard/dashboard_base.html' %}

{% block title %}
    New Project
{% endblock %}

{% block dashboard_page_name %}
    <h1 class="ps-2 mb-5 display-5 project-title">Editing "{{ active_project_title }}"</h1>
{% endblock %}

{% block dashboard_description %}
    <p>Use this page to add data to projects. You can edit project properties (title, description and others). Additionally, you can raw documents or submit new information.</p>
{% endblock %}

{% block main_content %}
<div class="container-fluid dashboard-container m-0 p-5">
</div>
{% endblock %}