.dashboard-container{
    background-color: var(--cdmp-color-dashboard-panel);
    border-radius: 5px;

    border: 1px solid rgb(199, 199, 199);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}
.dash-chart, .project-title {
    display: inline-block;
    transition: transform 0.3s ease; 
    transform: scale(1);
}
.dash-chart:hover, .project-title:hover {
    transform: scale(1.0125);
}

.section-header {
    scroll-margin-top: 80px;
}

.dashboard-add-data-button{
    background-color: var(--cdmp-color-main);
    border-color: var(--cdmp-color-main);

    border-radius: 7px;
    border: 2px solid var(--cdmp-color-main);
    color: rgb(230, 223, 223);
    font-size: 1.25rem;

    transition: all 0.2s ease-in-out;

    padding: 0.25rem 2rem;

    text-decoration: none;
}

.dashboard-add-data-button:hover{
    transform: scale(1.05);

    background-color: var(--cdmp-color-main-hover);
    border-color: var(--cdmp-color-main);
}

.dashboard-add-data-button:active{
    transform: scale(1);

    background-color: var(--cdmp-color-main-active);
    border-color: var(--cdmp-color-main);
}